
.bgcontainer{
    background-color: white;
   margin-left: 10% ;
   margin-right: 15%;
}

.question{
    margin: 0% 5%;
    padding: 3% 0%;
    text-align: justify;
    color: blueviolet;
    background-color: white;
}

.description{
    padding: 2% 5%;
    color: black;

}
#con{
    padding: 2% 5%;
}


.answer{
    padding: 2% 5%;
    color: black;

}

.button{
    float: right;
    margin-top: 2.5%;
    margin-right: 1%;
   
}
#ul1 li{
    margin: 10px;
    padding: 15px;
    background:  linear-gradient(45deg,#ec9cf3,#d09de9);;
    border-radius:10px;

}
#m1{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin: 20px;
    padding: 2% 5%;
}

#butt{
    background:linear-gradient(45deg,#f046ff,#9b00e8); 
    color: white;
    width: 150px;
    /* margin-left: 70px; */
    border: none;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
}

#nav1{
    background: linear-gradient(45deg,#f046ff,#9b00e8);

}
.effect{
    color: white;
}
.effect:hover{
    color: blueviolet;
}
