<nav class="navbar navbar-expand-md bg-dark navbar-dark" id="nav1">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="/questions">CodeMiner</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        
        <li  class="nav-item">
        <li  class="nav-item">
           <img src="https://image.flaticon.com/icons/png/512/16/16363.png" routerLink='/user' width="45px">
          <!-- <button class="nav-link btn btn-outline-light" routerLink='/director' >User profile</button> -->
        </li>&nbsp;&nbsp;
        
        <li class="nav-item">
          <button class="nav-link btn btn-outline-light" routerLink='/login'  > <div class="effect">Logout</div></button>
        </li>
      </ul>
    </div>
  </nav>
  


<div class="container border shadow border">
    <nav class="navbar navbar-expand-md navbar-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/user' (click)='onUpdate()'><b>Profile</b> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/user/editProfile'><b>Edit Profile</b> </a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div class="container p-3 my-3">
    <div class="row my-3">
        <div class="col-md-2 ">
            <div class="card" style='width:200px;height: 250px;'>

                <img src="{{img}}" width="200px" height="230px">

                <div class="card-body">
                    <div class="col-md-2">
                        <button class="btn" id="butt1" routerLink='/user/updateProfile'>Change Profile</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 "></div>
        <div class="col-md-2 ">
            <ul style="list-style-type: none;">
                <li style="text-transform: capitalize; font-weight: 800; font-size: 20px;"> {{userName}}</li>
                <li> ({{title}})</li><br>
                <li> {{about}}</li>
            </ul>
        </div>
        
        <div class="col-md-2"></div>
        
        <div class="col-md-4">
            <ul style="list-style-type: none; font-size: 21px;">
                <li><i class='fas fa-location-arrow' style='font-size:15px'></i> {{location}}</li>
                <li><i class='fab fa-twitter-square' style='font-size:15px'></i> {{twitter}}</li>
                <li><i class='fab fa-facebook-square' style='font-size:15px'></i> {{facebook}}</li>
                <li><i class='fab fa-github' style='font-size:15px'></i> {{github}}</li>
            </ul>
        </div>

    </div>

</div>
<div class="container">
    <div class="row" *ngFor='let i of questions' style="background: white;margin: 10px;padding: 30px;">
        <div class="col-12">
            {{i.title}}
            {{i.tag[0]}}
        </div>
        <br>
    </div>
</div>
<div class="container border shadow" id="container">
    <router-outlet></router-outlet>
</div>
<hr>

